<footer>
    <p><a class="ext" href="https://handsworth.ca">Handsworth</a></p>
    <p>&copy; 2019 <em>By Handsworth students <a href="https://eamon.me">Eamon Ma</a></em>, <em><a href="https://www.linkedin.com/in/owen-holman/">Owen Holman</a></em>, and <em><a href="https://www.jacob-schwartz.com/">Jacob Schwartz</a></em></p>
</footer>