<footer>
    <p><a class="ext" href="https://handsworth.ca">Handsworth</a></p>
    <p><em>We would like to thank the Coast Salish people, specifically the Skwxw&ugrave;7mesh and Tsleil-Waututh Nations, whose unceded traditional territory Handsworth resides on. We value the opportunity to learn, share and grow on this traditional territory.</em></p>
    <p>&copy; 2019 <em>By Handsworth students <a href="https://eamon.me">Eamon Ma</a></em>, <em><a href="https://owenholman.com">Owen Holman</a></em>, and <em><a href="https://jacob-schwartz.com/">Jacob Schwartz</a></em></p>
</footer>