<div class="mobileMenu">
    <div>
      <button class="b hamburger hamburger--spin icon" type="button">
        <span class="b hamburger-box">
          <span class="b hamburger-inner"></span>
        </span>
      </button>
    </div>
</div>