<header>
  <div class="title">
    <a href="/"><img class="crest" src="/img/crest.svg" alt="Handsworth Crest"></a>
    <h1><a href="/">Handsworth Learning&nbsp;Commons</a></h1>
  </div>
  <nav>
    <ul>
      <li><a class="links" href="/">
          Home
        </a></li>
      <li><a class="links" href="/books">
          Books
        </a></li>
      <li><a class="links" href="/resources">
          Resources
        </a></li>
      <li><a class="links" href="/faq">
          FAQ
        </a></li>
      <li><a class="links" href="/teachers">
          Teachers
        </a></li>
      <li><a class="links" href="/tutor">
          Peer tutoring
        </a></li>
    </ul>
  </nav>
</header>