@import url('https://fonts.googleapis.com/css?family=Rubik');

@font-face {
  font-family: ssp;
  src: url("./fonts/otf/ssp.otf") format("otf"),
  url("./fonts/woff/ssp.woff") format("woff"),
  url("./fonts/woff2/ssp.woff2") format("woff2");
}

@font-face {
  font-family: ssp;
  src: url("./fonts/otf/sspb.otf") format("otf"),
  url("./fonts/woff/sspb.woff") format("woff"),
  url("./fonts/woff2/sspb.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: ssp;
  src: url("./fonts/otf/sspi.otf") format("otf"),
  url("./fonts/woff/sspi.woff") format("woff"),
  url("./fonts/woff2/sspi.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 105%;
  font-family: ssp, serif;
  display: block;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a, a:active, a:visited {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  color: #20638f;
}

.crest {
  display: inline-block;
  height: 3em;
  margin-right: 5px;
}

.staffPhoto {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.staffs {
  text-align: center;
  width: 100%;
}

h1 a, h1 a:hover, h1 a:visited, h1 a:active {
  cursor: default;
  color: #22303d;
}

h2 {
  border-bottom: 1.7px solid black;
  line-height: 1.5em;
  margin-top: 0;
}

.question {
  margin-top: 30px;
}

.currentTab {
  color: #4c6b8a !important;
}

.mobileMenu {
  display: none;
}

nav ul li, .personalizeCourses ul li {
  list-style: none;
  font-size: 1em;
  height: 3.5em;
  line-height: 3.5em;
  width: 150px;
  padding: 0;
  margin: 0;
}

nav ul li {
  float: left;
  display: block;
}

.newBook img {
  float: left;
  height: 150px;
  display: block;
  margin-right: 20px;
}

.newBook {
  min-height: 160px;
  padding-top: 20px;
  margin-top: 10px;
}

.moreB {
  border-top: 1.7px dotted black;
}

.quote {
  text-indent: 5px;
  font-family: "Georgia", serif;
  font-style: italic;
}

.bookAuthor {
  font-style: italic;
  font-weight: 400;
}

.quote::before, .quote::after {
  content: "\"";
}

.quoteAuthor {
  text-align: right;
}

.quoteAuthor::before {
  content: "-";
}

.ftbook h3 {
  margin-top: 10px;
}

.cookieNotice {
  font-size: 0.3em;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 220%;
  margin: 10px 0;
}

#viewMore {
  display: inline-block;
}

footer {
  padding: 5px 0 5px 20px;
  position: relative;
  margin-bottom: 0;
  background: #ecf0f1;
  clear: both;
}

footer p {
  height: 100%;
}

.content a {
  display: inline-block;
  position: relative;
  min-height: 2em;
  line-height: 2em;
}

.content a::before {
  content: "";
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-bottom: 1px solid #000;
  transition: 0.2s cubic-bezier(.66,.11,.29,.65);
}

.content a:hover::before {
  width: 100%;
}

.content li {
  list-style: lower-roman;
  padding-bottom: 5px;
}

.int::after {
  content: " \27E9";
}

.ext::after {
  content: "";
  margin-left: 3px;
  background-image: url("img/ext.png");
  background-size: 15px 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.carousel {
  padding: 0 !important;
  height: 50vh;
  overflow: hidden;
}

.carousel div {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  background-position: center;
}

.carouselImage1 {
  background-image: url("img/carousel/1.jpg");
}

.carouselImage2 {
  background-image: url("img/carousel/2.jpg");
}

.carouselImage3 {
  background-image: url("img/carousel/3.jpg");
}

.carouselImage4 {
  background-image: url("img/carousel/4.jpg");
}

.carouselImage5 {
  background-image: url("img/carousel/5.jpg");
}

.carouselImage6 {
  background-image: url("img/carousel/6.jpg");
}

.carouselImage7 {
  background-image: url("img/carousel/7.jpg");
}

.carouselImage8 {
  background-image: url("img/carousel/8.jpg");
}

.carouselImage9 {
  background-image: url("img/carousel/9.jpg");
}

.carouselImage10 {
  background-image: url("img/carousel/10.jpg");
}

.carouselImage11 {
  background-image: url("img/carousel/11.jpg");
}

.carouselImage12 {
  background-image: url("img/carousel/12.jpg");
}

.carouselImage13 {
  background-image: url("img/carousel/13.jpg");
}

.carouselImage14 {
  background-image: url("img/carousel/14.jpg");
}

nav, .title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.notifications {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 3em;
  height: auto;
  background-color: #e0eff6;
}

.blocks {
  min-height: 1.5em;
  line-height: 1.5em;
  margin: 0;
}

.blocks::before {
  content: "\24D8";
  margin-right: 5px;
}

.book1 {
  padding-top: 0;
  margin-top: 20px;
}

.personalizeCourses {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -9;
  transition: 0.2s;
}

.personalizeCourses h3 {
  width: 100%;
  text-align: center;
}

.personalizeCourses ul li input {
  box-sizing: border-box;
  width: 150px;
  position: absolute;
  left: 0;
  font-size: 15px;
  height: 25px;
  line-height: 20px;
}

.personalizeCourses ul li {
  width: 150px;
  height: 40px;
  margin: 5px 0 5px 0;
}

.personalizeCourses a {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.personalizeCourses ul {
  position: relative;
  padding: 0;
  width: 150px;
  margin: 0 auto;
}

.personalizeCourses.show {
  opacity: 0.98;
  z-index: 9999;
}

.studentsQuotes .quoteC, .tutorsQuotes .quoteC {
  padding-bottom: 10px;
}

#signup {
  padding-top: 10px;
}

#signup:focus {
    outline: default;
}

.content {
  padding-top: 15px;
}

/* small screen styles */

@media (max-width: 924px) {
  body {
    overflow-x: hidden;
  }
  /* headings */
  h1 {
    font-size: 1.7em;
    padding-bottom: 5px;
    border-bottom: 1.7px solid black;
  }
  h2 {
    border: none;
    font-size: 1.3em;
  }
  h3 {
    font-style: italic;
  }
  /* layout */
  div.columns {
    border-bottom: 1.7px solid black;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  div.rarry {
    display: block;
    border-bottom: none;
  }
  div.center {
    border-bottom: none;
  }
  div.question {
    margin-bottom: 50px;
  }
  /* mobile nav */
  .crest {
    height: 3.7em;
  }
  .mobileMenu {
    display: block;
  }
  button.icon {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    top: 20px;
    right: 15px;
  }
  nav {
    z-index: 999;
    position: absolute;
    top: 0;
    right: -100%;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in;
    background: #fff;
    position: fixed;
  }
  nav.show {
    display: block;
    right: 0;
    height: 100%;
    opacity: 0.97;
  }
  nav ul {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 10% 0 50px;
  }
  nav ul li {
    text-align: left;
    vertical-align: center;
    float: none;
    width: 100%;
  }
  .carousel div, .carousel {
    height: 200px;
    height: 35vh;
  }
  .b {
    z-index: 999;
  }
  button {
    outline: none;
  }
  footer {
    left: -20px;
    padding: 20px;
    width: 100%;
  }
  #blockRotation {
    white-space: nowrap;
  }
  .blocks {
    padding: 15px;
  }
  .personalizeCourses {
    max-height: 100vh;
    overflow-y: scroll;
  }
  .customize {
    display: block;
  }
}

/* big screen styles */

@media (min-width: 925px) {
  a {
    transition: 0.2s;
  }
  body {
    padding: 0;
  }
  nav {
    display: block;
    opacity: 1;
    width: 100%;
    margin: 0;
    background: #ecf0f1;
    height: 3.5em;
    top: 0;
  }
  nav ul {
    height: 3.5em;
    width: 900px;
    position: absolute;
    margin: auto;
    padding: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  nav ul a, nav ul a:active, nav ul a:visited {
    text-decoration: none;
    color: #22303d;
  }
  nav ul a:hover {
    color: #4c6b8a;
  }
  .columns {
    margin: 0;
    height: 40px;
    height: auto;
    float: left;
  }
  .content {
    padding: 10px 20px 10px 20px;
  }
  .larry, .rarry {
    width: 25%;
    background: #f6f8f8;
  }
  .larry {
    position: relative;
    right: 50%;
  }
  .carry {
    width: 50%;
    min-height: 100%;
    position: relative;
    left: 25%;
    background: #fff;
  }
  h1 {
    text-align: left;
    position: absolute;
    top: 6px;
    left: 63px;
  }
  .title {
    margin: 10px 0 10px 10px;
    height: 3.3em;
    vertical-align: middle;
  }
  .center {
    width: 50%;
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
    left: 0;
    right: 0;
    float: none;
    padding: 20px;
  }
  .darkSwitch {
    display: none;
  }
  .blocks {
    min-height: 3em;
    line-height: 3em;
    margin: 0;
  }
}

html {
    visibility: visible;
    opacity: 1;
}
